__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
env/
.env/
.env
.env.*
instance/
*.sqlite
*.db
dist/
build/
.claude/
*.egg-info/
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
*.log
*.mcp
logs_a
*.key
*.pem
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
